@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @{
        Html.RenderPartial("Test");
    }
</div>

@section scripts {
<script type="text/javascript">
    $(function () {
        console.log("GG")
    });
</script>

}