@model LoadPartialView.Models.TestViewModel

@foreach (var item in Model.BPCategories)
{
    <p>
        <button type="button" data-id="@item.Id" class="btn btn-outline-danger w-50" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
        </button>
    </p>
}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div id="ModelLoad">
                    <!--here I need to load my partial view with a model using JS-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
    $(function () {
        var btns = document.querySelectorAll('[data-id]');

        for (let btn of btns) {
            btn.addEventListener('click', () => {
                let bpCategoriesId = btn.dataset['id'];
                $("#ModelLoad").load('@Url.Action("Delete", "BootstrapCategories")', { bpCategoriesId: bpCategoriesId } );

            });
        }
    });
    </script>

}